In [16]:
import nltk
import pandas as pd
from nltk.corpus import PlaintextCorpusReader, stopwords
from pathlib import Path

from nltk.corpus.reader import documents

In [17]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/divyam/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [18]:
path = "dataset"
docs = PlaintextCorpusReader(path,'.*\.txt')

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_37834/3366376250.py:2: SyntaxWarning: invalid escape sequence '\.'
  docs = PlaintextCorpusReader(path,'.*\.txt')

In [19]:
from nltk.corpus import PlaintextCorpusReader

corpus_root = "dataset"
wordlists = PlaintextCorpusReader(corpus_root, '.*\.txt')

# Store all file names
filenames = wordlists.fileids()

print(filenames)   # ['file1.txt', 'file2.txt', 'file3.txt', 'file4.txt']

['1.txt', '2.txt', '3.txt', '4.txt']

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_37834/1339599766.py:4: SyntaxWarning: invalid escape sequence '\.'
  wordlists = PlaintextCorpusReader(corpus_root, '.*\.txt')

In [20]:
docs = [docs.raw(fileid) for fileid in docs.fileids()]

In [21]:
docs

['Data Science is an important field of science',
 'Machine learning is a field of Data Science',
 'The cars are driven on the road',
 'The trucks are driven on highway 234']

In [22]:
norm_tokenize = []
for doc in docs:
    norm_tokenize.append([word.lower() for word in doc.split()])

norm_tokenize

[['data', 'science', 'is', 'an', 'important', 'field', 'of', 'science'],
 ['machine', 'learning', 'is', 'a', 'field', 'of', 'data', 'science'],
 ['the', 'cars', 'are', 'driven', 'on', 'the', 'road'],
 ['the', 'trucks', 'are', 'driven', 'on', 'highway', '234']]

In [23]:
norm_tokenize1 = []
import re
for doc in docs:
    lower = ' '.join([word.lower() for word in doc.split()])
    norm = re.sub('[^a-z\s]','',lower)
    norm_tokenize1.append(nltk.word_tokenize(norm))

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_37834/2117772255.py:5: SyntaxWarning: invalid escape sequence '\s'
  norm = re.sub('[^a-z\s]','',lower)

In [24]:
norm_tokenize1

[['data', 'science', 'is', 'an', 'important', 'field', 'of', 'science'],
 ['machine', 'learning', 'is', 'a', 'field', 'of', 'data', 'science'],
 ['the', 'cars', 'are', 'driven', 'on', 'the', 'road'],
 ['the', 'trucks', 'are', 'driven', 'on', 'highway']]

In [25]:
nltk.download('stopwords')
stopwords_list = nltk.corpus.stopwords.words('english')
nostop = []
for doc in norm_tokenize1:
   nostop.append([word for word in doc if word not in stopwords_list])

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/divyam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [26]:
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [27]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
final = []
for doc in nostop:
    final.append(' '.join([ps.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [28]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
final = []
for doc in nostop:
    final.append(' '.join([ps.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [29]:
from nltk.stem import LancasterStemmer
ls = LancasterStemmer()
final1 = []
for doc in nostop:
    final1.append(' '.join([ls.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [30]:
final1

['dat sci import field sci',
 'machin learn field dat sci',
 'car driv road',
 'truck driv highway']

In [31]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
final2 =[]
wn = WordNetLemmatizer()
for doc in nostop:
    final2.append((' '.join([wn.lemmatize(word) for word in doc])))

[nltk_data] Downloading package wordnet to /Users/divyam/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [32]:
final2

['data science important field science',
 'machine learning field data science',
 'car driven road',
 'truck driven highway']

### TDM

In [33]:
doc_count = {}
for i in range(len(final)):
    word_count = {}
    for word in final[i].split():
        if word not in word_count.keys():
            word_count[word] = 1
    doc_count[filenames[i]] = word_count

In [34]:
doc_count

{'1.txt': {'data': 1, 'scienc': 1, 'import': 1, 'field': 1},
 '2.txt': {'machin': 1, 'learn': 1, 'field': 1, 'data': 1, 'scienc': 1},
 '3.txt': {'car': 1, 'driven': 1, 'road': 1},
 '4.txt': {'truck': 1, 'driven': 1, 'highway': 1}}

In [35]:
import pandas as pd
binary_tdm_scratch = pd.DataFrame(doc_count)

In [36]:
binary_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    NaN    NaN
scienc     1.0    1.0    NaN    NaN
import     1.0    NaN    NaN    NaN
field      1.0    1.0    NaN    NaN
machin     NaN    1.0    NaN    NaN
learn      NaN    1.0    NaN    NaN
car        NaN    NaN    1.0    NaN
driven     NaN    NaN    1.0    1.0
road       NaN    NaN    1.0    NaN
truck      NaN    NaN    NaN    1.0
highway    NaN    NaN    NaN    1.0

In [37]:
binary_tdm_scratch.fillna(0,inplace=True)

In [38]:
binary_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    0.0    0.0
scienc     1.0    1.0    0.0    0.0
import     1.0    0.0    0.0    0.0
field      1.0    1.0    0.0    0.0
machin     0.0    1.0    0.0    0.0
learn      0.0    1.0    0.0    0.0
car        0.0    0.0    1.0    0.0
driven     0.0    0.0    1.0    1.0
road       0.0    0.0    1.0    0.0
truck      0.0    0.0    0.0    1.0
highway    0.0    0.0    0.0    1.0

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(binary=True)
X = cv.fit_transform(final)

In [40]:
binary_tdm_inbuilt = pd.DataFrame(X.toarray().T,columns=filenames,index=cv.get_feature_names_out())

In [41]:
binary_tdm_inbuilt

         1.txt  2.txt  3.txt  4.txt
car          0      0      1      0
data         1      1      0      0
driven       0      0      1      1
field        1      1      0      0
highway      0      0      0      1
import       1      0      0      0
learn        0      1      0      0
machin       0      1      0      0
road         0      0      1      0
scienc       1      1      0      0
truck        0      0      0      1

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv1= CountVectorizer()
x = cv1.fit_transform(final)
tf_tdm_inbuilt = pd.DataFrame(X.toarray().T,columns=filenames,index=cv.get_feature_names_out())

In [43]:
doc_count1={}
for i in range(len(final)):
    word_count1 = {}
    for word in final[i].split():
        if word not in word_count1.keys():
            word_count1[word] = 0

        word_count1[word] += 1
    doc_count1[filenames[i]]=word_count1

In [44]:
doc_count1

{'1.txt': {'data': 1, 'scienc': 2, 'import': 1, 'field': 1},
 '2.txt': {'machin': 1, 'learn': 1, 'field': 1, 'data': 1, 'scienc': 1},
 '3.txt': {'car': 1, 'driven': 1, 'road': 1},
 '4.txt': {'truck': 1, 'driven': 1, 'highway': 1}}

In [47]:
tf_tdm_scratch = pd.DataFrame(doc_count1)
tf_tdm_scratch.fillna(0,inplace=True)

In [48]:
tf_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    0.0    0.0
scienc     2.0    1.0    0.0    0.0
import     1.0    0.0    0.0    0.0
field      1.0    1.0    0.0    0.0
machin     0.0    1.0    0.0    0.0
learn      0.0    1.0    0.0    0.0
car        0.0    0.0    1.0    0.0
driven     0.0    0.0    1.0    1.0
road       0.0    0.0    1.0    0.0
truck      0.0    0.0    0.0    1.0
highway    0.0    0.0    0.0    1.0

In [51]:
len_tdm_scratch = ( tf_tdm_scratch.iloc[:,:].div(tf_tdm_scratch.sum(axis=0),axis=1))

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf1=TfidfVectorizer(use_idf=False,norm='l1')
X2 = tf1.fit_transform(final)

In [57]:
print(X2)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 15 stored elements and shape (4, 11)>
  Coords	Values
  (0, 1)	0.2
  (0, 9)	0.4
  (0, 5)	0.2
  (0, 3)	0.2
  (1, 1)	0.2
  (1, 9)	0.2
  (1, 3)	0.2
  (1, 7)	0.2
  (1, 6)	0.2
  (2, 0)	0.3333333333333333
  (2, 2)	0.3333333333333333
  (2, 8)	0.3333333333333333
  (3, 2)	0.3333333333333333
  (3, 10)	0.3333333333333333
  (3, 4)	0.3333333333333333

In [61]:
len_tdm_inbuilt = pd.DataFrame(X2.toarray().T,index=tf1.get_feature_names_out(),columns=filenames)

In [63]:
max_tdm_scratch = tf_tdm_scratch.iloc[:,:].div(tf_tdm_scratch.max(axis=0),axis=1)

In [64]:
max_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       0.5    1.0    0.0    0.0
scienc     1.0    1.0    0.0    0.0
import     0.5    0.0    0.0    0.0
field      0.5    1.0    0.0    0.0
machin     0.0    1.0    0.0    0.0
learn      0.0    1.0    0.0    0.0
car        0.0    0.0    1.0    0.0
driven     0.0    0.0    1.0    1.0
road       0.0    0.0    1.0    0.0
truck      0.0    0.0    0.0    1.0
highway    0.0    0.0    0.0    1.0

In [65]:
import numpy as np
log_tdm_scratch = np.log(1+tf_tdm_scratch)

In [66]:
log_tdm_scratch

            1.txt     2.txt     3.txt     4.txt
data     0.693147  0.693147  0.000000  0.000000
scienc   1.098612  0.693147  0.000000  0.000000
import   0.693147  0.000000  0.000000  0.000000
field    0.693147  0.693147  0.000000  0.000000
machin   0.000000  0.693147  0.000000  0.000000
learn    0.000000  0.693147  0.000000  0.000000
car      0.000000  0.000000  0.693147  0.000000
driven   0.000000  0.000000  0.693147  0.693147
road     0.000000  0.000000  0.693147  0.000000
truck    0.000000  0.000000  0.000000  0.693147
highway  0.000000  0.000000  0.000000  0.693147

In [72]:
no_of_docs = len(final)
unique_terms= tf_tdm_scratch.index

In [73]:
idf_count = {}
for term in unique_terms:
    idf_count[term] = 0
    for doc in final:
        if term in doc.split():
            idf_count[term]+=1
    idf_count[term] = np.log(no_of_docs / idf_count[term])
idf_count

{'data': np.float64(0.6931471805599453),
 'scienc': np.float64(0.6931471805599453),
 'import': np.float64(1.3862943611198906),
 'field': np.float64(0.6931471805599453),
 'machin': np.float64(1.3862943611198906),
 'learn': np.float64(1.3862943611198906),
 'car': np.float64(1.3862943611198906),
 'driven': np.float64(0.6931471805599453),
 'road': np.float64(1.3862943611198906),
 'truck': np.float64(1.3862943611198906),
 'highway': np.float64(1.3862943611198906)}

In [74]:
idf = pd.DataFrame(pd.Series(idf_count),columns=['IDF Score'])

In [76]:
tfidf_scatch = tf_tdm_scratch*idf.values

In [77]:
tfidf_scatch

            1.txt     2.txt     3.txt     4.txt
data     0.693147  0.693147  0.000000  0.000000
scienc   1.386294  0.693147  0.000000  0.000000
import   1.386294  0.000000  0.000000  0.000000
field    0.693147  0.693147  0.000000  0.000000
machin   0.000000  1.386294  0.000000  0.000000
learn    0.000000  1.386294  0.000000  0.000000
car      0.000000  0.000000  1.386294  0.000000
driven   0.000000  0.000000  0.693147  0.693147
road     0.000000  0.000000  1.386294  0.000000
truck    0.000000  0.000000  0.000000  1.386294
highway  0.000000  0.000000  0.000000  1.386294

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf2= TfidfVectorizer()
X3 = tf2.fit_transform(final)
tfidf_inbuilt = pd.DataFrame(X3.toarray().T,index=tf2.get_feature_names_out(),columns=filenames)

In [90]:
cooccur_matrix = np.dot(binary_tdm_scratch.values,binary_tdm_scratch.values.T)
np.fill_diagonal(cooccur_matrix,0)
cooccur_df = pd.DataFrame(cooccur_matrix,index=binary_tdm_scratch.index,columns=binary_tdm_scratch.index)

In [91]:
cooccur_df

,data,scienc,import,field,machin,learn,car,driven,road,truck,highway
data,0.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
scienc,2.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
import,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
field,2.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
machin,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
learn,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
car,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
driven,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
road,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
truck,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
highway,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0