In [62]:
import nltk
import pandas as pd
from nltk.corpus import PlaintextCorpusReader, stopwords
from pathlib import Path

from nltk.corpus.reader import documents

In [63]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/divyam/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [64]:
path = "dataset"
docs = PlaintextCorpusReader(path,'.*\.txt')

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_74932/3366376250.py:2: SyntaxWarning: invalid escape sequence '\.'
  docs = PlaintextCorpusReader(path,'.*\.txt')

In [83]:
from nltk.corpus import PlaintextCorpusReader

corpus_root = "dataset"
wordlists = PlaintextCorpusReader(corpus_root, '.*\.txt')

# Store all file names
filenames = wordlists.fileids()

print(filenames)   # ['file1.txt', 'file2.txt', 'file3.txt', 'file4.txt']

['1.txt', '2.txt', '3.txt', '4.txt']

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_74932/1339599766.py:4: SyntaxWarning: invalid escape sequence '\.'
  wordlists = PlaintextCorpusReader(corpus_root, '.*\.txt')

In [65]:
docs = [docs.raw(fileid) for fileid in docs.fileids()]

In [66]:
docs

['Data Science is an important field of science',
 'Machine learning is a field of Data Science',
 'The cars are driven on the road',
 'The trucks are driven on highway 234']

In [67]:
norm_tokenize = []
for doc in docs:
    norm_tokenize.append([word.lower() for word in doc.split()])

norm_tokenize

[['data', 'science', 'is', 'an', 'important', 'field', 'of', 'science'],
 ['machine', 'learning', 'is', 'a', 'field', 'of', 'data', 'science'],
 ['the', 'cars', 'are', 'driven', 'on', 'the', 'road'],
 ['the', 'trucks', 'are', 'driven', 'on', 'highway', '234']]

In [68]:
norm_tokenize1 = []
import re
for doc in docs:
    lower = ' '.join([word.lower() for word in doc.split()])
    norm = re.sub('[^a-z\s]','',lower)
    norm_tokenize1.append(nltk.word_tokenize(norm))

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/var/folders/n1/pmp24v296pd80dfsymy4h0100000gn/T/ipykernel_74932/2117772255.py:5: SyntaxWarning: invalid escape sequence '\s'
  norm = re.sub('[^a-z\s]','',lower)

In [69]:
norm_tokenize1

[['data', 'science', 'is', 'an', 'important', 'field', 'of', 'science'],
 ['machine', 'learning', 'is', 'a', 'field', 'of', 'data', 'science'],
 ['the', 'cars', 'are', 'driven', 'on', 'the', 'road'],
 ['the', 'trucks', 'are', 'driven', 'on', 'highway']]

In [70]:
nltk.download('stopwords')
stopwords_list = nltk.corpus.stopwords.words('english')
nostop = []
for doc in norm_tokenize1:
   nostop.append([word for word in doc if word not in stopwords_list])

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/divyam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [71]:
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [72]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
final = []
for doc in nostop:
    final.append(' '.join([ps.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [73]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
final = []
for doc in nostop:
    final.append(' '.join([ps.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [77]:
final1

['dat sci import field sci',
 'machin learn field dat sci',
 'car driv road',
 'truck driv highway']

In [74]:
from nltk.stem import LancasterStemmer
ls = LancasterStemmer()
final1 = []
for doc in nostop:
    final1.append(' '.join([ls.stem(word) for word in doc ]))
nostop

[['data', 'science', 'important', 'field', 'science'],
 ['machine', 'learning', 'field', 'data', 'science'],
 ['cars', 'driven', 'road'],
 ['trucks', 'driven', 'highway']]

In [75]:
final1

['dat sci import field sci',
 'machin learn field dat sci',
 'car driv road',
 'truck driv highway']

In [78]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
final2 =[]
wn = WordNetLemmatizer()
for doc in nostop:
    final2.append((' '.join([wn.lemmatize(word) for word in doc])))

[nltk_data] Downloading package wordnet to /Users/divyam/nltk_data...

In [79]:
final2

['data science important field science',
 'machine learning field data science',
 'car driven road',
 'truck driven highway']

### TDM

In [84]:
doc_count = {}
for i in range(len(final)):
    word_count = {}
    for word in final[i].split():
        if word not in word_count.keys():
            word_count[word] = 1
    doc_count[filenames[i]] = word_count

In [85]:
doc_count

{'1.txt': {'data': 1, 'scienc': 1, 'import': 1, 'field': 1},
 '2.txt': {'machin': 1, 'learn': 1, 'field': 1, 'data': 1, 'scienc': 1},
 '3.txt': {'car': 1, 'driven': 1, 'road': 1},
 '4.txt': {'truck': 1, 'driven': 1, 'highway': 1}}

In [88]:
import pandas as pd
binary_tdm_scratch = pd.DataFrame(doc_count)

In [89]:
binary_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    NaN    NaN
scienc     1.0    1.0    NaN    NaN
import     1.0    NaN    NaN    NaN
field      1.0    1.0    NaN    NaN
machin     NaN    1.0    NaN    NaN
learn      NaN    1.0    NaN    NaN
car        NaN    NaN    1.0    NaN
driven     NaN    NaN    1.0    1.0
road       NaN    NaN    1.0    NaN
truck      NaN    NaN    NaN    1.0
highway    NaN    NaN    NaN    1.0

In [91]:
binary_tdm_scratch.fillna(0,inplace=True)

In [92]:
binary_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    0.0    0.0
scienc     1.0    1.0    0.0    0.0
import     1.0    0.0    0.0    0.0
field      1.0    1.0    0.0    0.0
machin     0.0    1.0    0.0    0.0
learn      0.0    1.0    0.0    0.0
car        0.0    0.0    1.0    0.0
driven     0.0    0.0    1.0    1.0
road       0.0    0.0    1.0    0.0
truck      0.0    0.0    0.0    1.0
highway    0.0    0.0    0.0    1.0

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(binary=True)
X = cv.fit_transform(final)

In [102]:
binary_tdm_inbuilt = pd.DataFrame(X.toarray().T,columns=filenames,index=cv.get_feature_names_out())

In [103]:
binary_tdm_inbuilt

         1.txt  2.txt  3.txt  4.txt
car          0      0      1      0
data         1      1      0      0
driven       0      0      1      1
field        1      1      0      0
highway      0      0      0      1
import       1      0      0      0
learn        0      1      0      0
machin       0      1      0      0
road         0      0      1      0
scienc       1      1      0      0
truck        0      0      0      1

In [105]:
from sklearn.feature_extraction.text import CountVectorizer
cv1= CountVectorizer()
x = cv1.fit_transform(final)
tf_tdm_inbuilt = pd.DataFrame(X.toarray().T,columns=filenames,index=cv.get_feature_names_out())

In [106]:
doc_count1={}
for i in range(len(final)):
    word_count1 = {}
    for word in final[i].split():
        if word not in word_count1.keys():
            word_count1[word] = 0

        word_count1[word] += 1
    doc_count1[filenames[i]]=word_count1

In [107]:
doc_count1

{'1.txt': {'data': 1, 'scienc': 2, 'import': 1, 'field': 1},
 '2.txt': {'machin': 1, 'learn': 1, 'field': 1, 'data': 1, 'scienc': 1},
 '3.txt': {'car': 1, 'driven': 1, 'road': 1},
 '4.txt': {'truck': 1, 'driven': 1, 'highway': 1}}

In [109]:
    ltf_tdm_scratch = pd.DataFrame(doc_count1)
tf_tdm_scratch.fillna(0,inplace=True)

In [110]:
tf_tdm_scratch

         1.txt  2.txt  3.txt  4.txt
data       1.0    1.0    0.0    0.0
scienc     2.0    1.0    0.0    0.0
import     1.0    0.0    0.0    0.0
field      1.0    1.0    0.0    0.0
machin     0.0    1.0    0.0    0.0
learn      0.0    1.0    0.0    0.0
car        0.0    0.0    1.0    0.0
driven     0.0    0.0    1.0    1.0
road       0.0    0.0    1.0    0.0
truck      0.0    0.0    0.0    1.0
highway    0.0    0.0    0.0    1.0